.valueStyle {
  margin: 20px;
  margin-left: 12px;
  margin-right: 35px;
  margin-top: 48px;
}
.gap {
  margin: 10px;
}

.inline {
  margin-top: -37px;
  margin-left: 34px;
}

.colorStyle {
  border: 1px solid #dee2e6;
  background-color: dimgrey;
  padding-bottom: 2px;
  color: currentcolor;
}
.professional {
  font: icon;
  margin-top: 7px;
  margin-left: 12px;
}

/* .text {
  display: flex;
  align-items: center;
} */
